<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= site_title %></title>
  <link rel="stylesheet" href="css/1140.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <article class="container">
    <section class="row">
      <div class="twelvecol last">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
